body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.resume-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.resume {
    width: 50%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 5px solid #000000;
    transition: background-color 0.5s ease-in-out;
    text-align: left;
}

.header {
    text-align: left;
}

.photo {
    text-align: right;
}

.photo img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}